@font-face{
  font-family: 'Montserrat-Italic-VariableFont_wght.ttf';
  src: url('../fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
  font-style: 'italic';
}

@font-face{
  font-family: 'Montserrat-VariableFont_wght.ttf';
  src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-style: 'bold';
}
